.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-highlight {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.button {
  box-shadow: 5px 3px 5px #000;
}

.buttonSection {
  display: flex;
  gap: 10px;
}
